# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
env/
venv/

# Streamlit
.streamlit/

# FAISS, embeddings, parquet
data/*.parquet
data/*.bin
data/*.json

# OS junk files
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.cache/
